<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.modulescore.main">

    <application>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.modulescore.main.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="com.xupt.modulescore.main.Trace.TraceActivity"
            android:exported="false" />
        <activity
            android:name="com.xupt.modulescore.main.Activities.AfterRunActivity"
            android:exported="false" />
        <activity
            android:name="com.xupt.modulescore.main.Activities.TargetDistanceActivity"
            android:exported="false" />
        <activity
            android:name="com.xupt.modulescore.main.Data.PreDataActivity"
            android:exported="false" />
        <activity
            android:name="com.xupt.modulescore.main.Pre.PreRunActivity"
            android:exported="true"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name="com.xupt.modulescore.main.Run.RunActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:launchMode="singleTask" />
<!--        <activity-->
<!--            android:name=".Activities.RunningActivity"-->
<!--            android:exported="true"-->
<!--            android:launchMode="singleInstance" />-->
        <service android:name="com.xupt.modulescore.main.Run.LocationService"/>
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="50d286f11504bd091ccc96099bcba9cb" />
        <service android:name="com.amap.api.location.APSService" />
    </application>
</manifest>