<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.modulescore.main">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name=".TargetDistanceActivity"
            android:exported="true"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".PreRunActivity"
            android:exported="true"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".RunActivity"
            android:exported="true"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".RunningActivity"
            android:exported="true"
            android:launchMode="singleTask"/>
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="880387c6ae5d46f295ff641256b984d3" />
        07:E3:E4:1D:53:DF:2D:7A:26:E7:5A:79:34:0C:8B:7C:BA:36:9F:BA
        <service android:name="com.amap.api.location.APSService" />
    </application>
</manifest>